html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #ebeadf;
  font-family: Inter, sans-serif;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Regular.woff2') format('woff2'),
    url('/fonts/Inter/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
